body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}
body p {
  line-height: 25px;
}

.top-container {
  position: relative;
  background-color: #eaf6f6;
  padding-top: 90px;
}

.top-container h1 {
  font-family: "Oswald", sans-serif;
  color: #66bfbf;
}
.cloud1 {
  position: absolute;
  right: 20%;
  top: 100px;
}
.cloud2 {
  position: absolute;
  bottom: 250px;
}
.short-intro {
  margin-bottom: -20px;
  font-family: monospace;

  /* 1 rem = 1 em = 16px */

  font-size: 1rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}
.skills h3,
h2 {
  color: #11999e;
}
.bottom-container a {
  color: #11999e;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
}
.skill-row h3,
.skill-row p {
  text-align: left;
}
.skill-row p {
  line-height: 2;
}
.skill-row img {
  width: 25%;
}
.skill-img1 {
  margin-right: 30px;
}
.skill-img2 {
  margin-left: 30px;
}

/* How float works to warp something around another element,
  only use it when necessary,
  don't use it for positioning
*/
.skill-img1 {
  float: left;
}
.skill-img2 {
  float: right;
}

/* how to clear certain elements from float 


.skill-desc1 {
  clear: left;
}
.skill-desc2 {
  clear: right;
}

*/

.profile img {
  margin: 70px 0 10px 0;
}
.profile p {
  margin-top: 50px;
}

.middle-container hr {
  margin: 65px auto 75px;
  border-top: 3px dotted rgb(187, 184, 184);
  width: 4%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-width: 5px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 30px;
  color: #11999e;
  margin-top: 80px;
}
.bottom-container a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 40px 40px;
}
.bottom-container a:hover {
  color: white;
}
.bottom-container p {
  margin-bottom: 0;
  color: #eaf6f6;
}
.contact-me h3 {
  color: #11999e;
  margin: 30px auto;
}

.contact-me .btn {
  text-decoration: none;
  background-color: #0da8a8;
  padding: 8px 15px;
  border: 1px solid #0da8a8;
  border-radius: 10px;
  color: white;
  font-weight: 350;
  background-image: linear-gradient(#17e4e4, #0da8a8);
}
.contact-me .btn:hover {
  background-image: linear-gradient(#68efef, #0fc3c3);
  padding: 9px 16px;
}
.profile p,
.contact-me p {
  width: 490px;
  margin: 0 auto;
}
.contact-me p {
  margin-bottom: 45px;
}
